@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Aleo", serif;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 40px;
    justify-content: space-evenly;
    font-size: 40px;
    position: relative; 
    z-index: 5;
}


