@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Londrina+Solid:wght@100;300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.titulo{
    color: rgb(255, 115, 0);
    font-size: 150px;
    display: flex;
    justify-content: center;
    font-family: "Londrina Solid", sans-serif;
    font-style: normal;
    margin-bottom: 50px;
}
.buscador_boton{
    display: flex;
    height: 130px;
    justify-content: center;
}
.nuevo_hilo{
    color: black;
    background-color: rgb(255, 115, 0);
    font-size: 40px;
    margin: 30px;
    padding-left: 70px;
    padding-right: 70px;
    width: 390px;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: right;
}
.buscador{
    height: 50px;
    margin-top: 50px;
    width: 700px;
    border-radius: 90px;
}
.hilos{
    display: flex;
    font-family: "Londrina Solid", sans-serif;
    font-style: normal;
}
p{
    font-size:xx-large;
    margin-top: 60px;
}
.likes{
    padding-left: 40px;
}
.me_gusta{
    width: 120px;
    height: 120px;
    padding-top: 20px;
    padding-left: 30px;
}
.lupa{
    width: 40px;
    height: 40px;
    margin-top: 55px;
    margin-right: 10px;
}