@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Londrina+Solid:wght@100;300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
main{
    padding-top: 100px;
}
.titulo{
    color: rgb(255, 115, 0);
    font-size: 150px;
    display: flex;
    justify-content: center;
    font-family: "Londrina Solid", sans-serif;
    font-style: normal;
    margin-bottom: 50px;
}
.al_contenedor{
    font-size:25px;
    padding-top: 10px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texto_ejemplo{
    flex-direction: column;
}
.hilos{
    color: black;
    background-color: rgb(255, 115, 0);
    font-size: 50px;
    margin: 30px;
    padding-left: 70px;
    padding-right: 70px;
    
}
.perfil_user{
    height: 1px;
    
}