@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    /*background-image: url(../multimedia/img/a);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; Descomentar este código y borrar este mensaje 
    si se pondrá imagen a la pagina*/
}