@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Londrina+Solid:wght@100;300;400;900&display=swap');

.todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: rgb(255, 115, 0);
    font-size: 150px;
    font-family: "Londrina Solid", sans-serif;
    font-style: normal;
    margin-bottom: 50px;
}

.formulario{
    flex-direction: column;
    background-color: #9b9898;
    padding: 20px;
    width: 900px;
    justify-content: center;
    border-radius: 10px;
}

.contenido-formulario{
    width: 855px;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}

.publicar{
    background-color: rgb(255, 115, 0);
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: none;
}