*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    /*background-image: url(../multimedia/img/a);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; Descomentar este código y borrar este mensaje 
    si se pondrá imagen a la pagina*/

}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedor{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja_registro{
    width: 100%;
    padding: 10px 20px;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 136, 0);
}